{% extends 'static_base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2>Registro de usuario</h2>
                    <hr>
                    <form action="" method="post">
                        {% csrf_token %}
                        {% crispy form %}  <!-- Renderiza el formulario utilizando django-crispy-forms -->
                        <a href="{% url 'login'%}">Ir a inicio</a>  <!-- Ajusta el href según tu configuración -->
                        <a href="#">Enlace Vacío</a> <!-- Agrega un href adecuado o elimina este enlace -->
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
